@use "./base/base";
@use "./base/reset";
@use "./global" as *;

body.no-scroll {
    overflow: hidden;
}




// ヘッダー
.header{
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    background-color: transparent;
    transition: background-color 0.3s;
    @include mq("md"){
        height: 50px;
    }
}

.header.headerColorScroll{
    background-color: $green;
    transition: background-color 0.3s;
}

.header__inner{
    max-width: 1080px;
    margin-inline: auto;
    padding-inline: 80px 79px;
    display: flex;
    height: inherit;
    align-items: center;
    @include mq("lg"){
        padding-inline: 20px;
    }
}

.header__name{
    height: inherit;
}

.header__name a{
    font-size: 20px;
    font-weight: $medium;
    color: $white;
    display: flex;
    align-items: center;
    height: inherit;
    // padding-top: 11px;
    // @include mq("md"){
    //     padding-top: 0;
    // }
}

.header__nav{
    height: inherit;
    margin-left: auto;
    padding-right: 1px;
}

.header__items{
    display: flex;
    height: inherit;
}

.header__item{
    height: inherit;
}

.header__item:not(:first-child){
    margin-left: 31px;
    @include mq("lg"){
        margin-left: 14px;
    }
}

.header__link{
    position: relative;
    height: inherit;
    // padding-top: 6px;
    font-size: 18px;
    font-weight: $medium;
    line-height: calc(33/18);
    color: $white;
    display: flex;
    align-items: center;
    @include mq("lg"){
        font-size: 16px;
    }
}

.header__link::after{
    position: absolute;
    opacity: 0;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 25px;
    background-color: $white;
    transition: opacity 0.3s;
}

@media (hover: hover){
    .header__link:hover{
        opacity: 1;
    }
    .header__link:hover::after{
        opacity: 1;
        transition: opacity 0.3s;
    }
}



// ハンバーガーメニュー
.hamburger-wrap{
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    width: 72px;
    height: 50px;
    background-color: $white;
    cursor: pointer;
    transition: 1s transform;
}

.hamburger{
    width: 32px;
    height: 24px;
    position: relative;
    margin-top: 11px;
    margin-inline: auto;
}

.hamburger span{
    position: absolute;
    left: 0;
    width: 100%;
    display: inline-block;
    height: 4px;
    transition: 1s transform , 1s opacity;
    border-radius: 2px;
    background-color: $green;
}

.hamburger span:nth-child(1){
    top: 0;
}

.hamburger span:nth-child(2){
    top: 12px;
}

.hamburger span:nth-child(3){
    top: 24px;
}

.hamburger.is-active span:nth-child(1){
    -webkit-transform: translateY(12px) rotate(45deg);
    transform: translateY(12px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2){
    opacity: 0;
}

.hamburger.is-active span:nth-child(3){
    -webkit-transform: translateY(-12px) rotate(-45deg);
    transform: translateY(-12px) rotate(-45deg);
}

.drawer-menu{
    position: fixed;
    z-index: 5000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, background-color 0.3s;
}

.js-drawer.is-active.drawer-menu{
    opacity: 1;
    visibility: visible;
    background-color: rgba(0,0,0,0.5);
}

.drawer-menu__wrap{
    position: absolute;
    top: 50px;
    right: -50%;
    width: 300px;
    height: 348px;
    transition: right 0.3s;
}

.js-drawer.is-active .drawer-menu__wrap{
    right: 0;
}

.drawer-menu__inner{
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
}

.drawer-menu__items{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.drawer-menu__item{
    background-color: $green;
    transition: background-color 0.3s;
}

.drawer-menu__link{
    display: block;
    padding: 12.5px 0 12.5px 20px;
    font-size: 18px;
    font-weight: $semibold;
    line-height: calc(33/18);
    color: $white;
}

@media (hover: hover){
    .drawer-menu__item:hover{
        background-color: $black;
        transition: background-color 0.3s;
        opacity: 1;
    }
    .drawer-menu__link:hover{
        opacity: 1;
    }

}





// Top
.top{
    width: 100%;
    height: auto;
    aspect-ratio: 1080/800;
    @include mq("md"){
        aspect-ratio: 375/601;
    }
}

.top__inner{
    position: relative;
    width: 100%;
    height: inherit;
    overflow: hidden;
}

.top__inner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.15);
    z-index: 100;
}

.top__swiper,
.swiper-slide picture,
.swiper-slide img{
    height: inherit;
    width: 100%;
}

.swiper-slide img{
    object-fit: cover;
}

.top__title-wrap{
    position: absolute;
    top: calc(100% * 340/800);
    // left: 51%;
    left: 55.6%;
    // transform: translateX(-51%);
    transform: translateX(-55%);
    width: 100%;
    z-index: 500;
    @include mq("md"){
        top: 51%;
        left: 51%;
        transform: translate(-50%,-49%);
        margin-left: 1px;
    }
}

.top__title{
    text-align: center;
    font-size: 40px;
    font-weight: $semibold;
    color: $white;
    letter-spacing: 0.3em;
    line-height: calc(70/40);
    text-shadow: 5px 5px 5px $black;
    z-index: 3000;
    @include mq("md"){
        font-size: 30px;
        text-align: center;
        line-height: calc(60/30);
    }
}





// about
.about{
    // height: 500px;
    // padding-block: 113px 97px;
    position: relative;
    aspect-ratio: 1080/500;
    background-size: contain;
    background-image: url(../images/about_bg.jpg);
    // background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include mq("md"){
        background-image: url(../images/about_sp_bg.jpg);
        // padding-block: 53px 50px;
        // height: 584px;
        aspect-ratio: 375/584;
    }
}

.about__inner.inner{
    position: absolute;
    top: 50%;
    transform: translate(-57%,-49%);
    left: 40%;
    padding-inline: 0;
    @include mq("md"){
        top: 51%;
        left: 50%;
        transform: translate(-50%,-51%);
    }
}

.about__text-body{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    // margin-left: 55px;
    @include mq("md"){
        margin-top: 3px;
        margin-left: 0;
        flex-direction: column;
        row-gap: 23px;
        align-items: center;
    }
    @media screen and (max-width:374px){
        row-gap: 18px;
    }
}

.about__title{
    font-size: 30px;
    font-weight: $medium;
    writing-mode: vertical-rl;
    line-height: calc(57/30);
    letter-spacing: 0.17em;
    @include mq("md"){
        font-size: 25px;
        line-height: calc(57/25);
        letter-spacing: 0.2em;
    }
    @media screen and (max-width:374px){
        font-size: 22px;
    }
}

.about__text{
    margin-right: 32px;
    font-size: 18px;
    font-weight: $medium;
    line-height: calc(48/18);
    letter-spacing: 0.39em;
    writing-mode: vertical-rl;
    @include mq("md"){
        margin-right: 0;
        font-size: 16px;
        line-height: calc(26/16);
        letter-spacing: 0.25em;
    }
}





// service
.service{
    background-color: rgba(77, 150, 0, 0.102);
    padding: 80px 0;
    @include mq("md"){
        padding: 50px 0;
    }
}

.service__contents{
    margin-top: 68px;
    width: 100%;
    @include mq("md"){
        margin-top: 38px;
    }
}

.service__content{
    display: flex;
    position: relative;
    max-height: 395px;
    justify-content: space-between;
    @include mq("md"){
        max-height: 100%;
        flex-direction: column;
        height: auto;
    }
}

.service__content:nth-child(even){
    flex-direction: row-reverse;
    @include mq("md"){
        flex-direction: column;
    }
}

.service__content:not(:first-child) {
    margin-top: 80px;
    @include mq("md"){
        margin-top: 50px;
    }
}

.content__img-box{
    position: relative;
    display: block;
    width: calc(100% * 600/920);
    z-index: 2;
    aspect-ratio: 600/400;
    @include mq("md"){
        aspect-ratio: auto;
        position: static;
        width: 100%;
        max-width: 100%;
        margin-inline: auto;
    }
}

.content__img{
    @include mq("md"){
        aspect-ratio: 315/220;
    }
}

.content__img-text{
    margin-top: 19px;
    font-size: 16px;
    font-weight: $medium;
    line-height: calc(25/16);
    @include mq("md"){
        margin-top: 5px;
    }
}

.content-reverse .content__img-text{
    text-align: right;
    @include mq("md"){
        text-align: left;
    }
}

.content__text-box{
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% * 500/920);
    padding: 50px 15px 42px calc(100% * 220/920);
    z-index: 1;
    max-width: 600px;
    overflow: hidden;
    background-color: $green;
    color: #fff;
    @include mq("lg"){
        padding: 50px 15px 42px calc(100% * 200/920);
    }
    @include mq("md"){
        margin-top: 6px;
        width: 100%;
        max-width: 100%;
        position: static;
        padding: 20px 20px 11px;
    }
}

.content-reverse .content__text-box{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 50px  calc(100% * 220/920) 42px calc(100% * 40/920);
    @include mq("lg"){
        padding: 50px calc(100% * 200/920) 42px calc(100% * 30/920);
    }
    @include mq("md"){
        padding: 20px 20px 11px;
        margin-top: 6px;
        width: 100%;
        position: static;
    }
}

.content__text-main{
    display: inline-block;
    width: 275px;
    font-size: 25px;
    font-weight: $semibold;
    line-height: calc(33/25);
    @include mq("lg"){
        font-size: 20px;
        line-height: calc(25/20);
    }
}

.content__text-sub{
    margin-top: 17px;
    font-size: 16px;
    font-weight: $semibold;
    line-height: calc(25/16);
    @include mq("md"){
        margin-top: 14px;
    }
}





// works
.works{
    padding-block: 80px 97px;
    @include mq("md"){
        padding-block: 50px 41px;
    }
}

.works__list{
    margin-top: 68px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: calc(100% * 40/920);
    row-gap: 20px;
    @include mq("md"){
        grid-template-columns: 1fr;
        margin-top: 38px;
        row-gap: 21px;
    }
}

.works__item{
    cursor: pointer;
}

.works__img-box{
    overflow: hidden;
}

.works__img-box img{
    transition: transform 0.3s;
}

@media (hover: hover){
    .works__item:hover .works__img-box img{
        transform: scale(1.1);
        transition: transform 0.3s;
    }
}

.works__text{
    margin-top: 19px;
    font-size: 16px;
    font-weight: $medium;
    line-height: calc(25/16);
    cursor: pointer;
    @include mq("md"){
        margin-top: 10px;
    }
}





// モーダル
.modal-block{
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    background-color: rgba($color: $black, $alpha: 0.5);
}

.modal-container{
    width: calc(100% * 450/1080);
    padding: 15px 15px 6px;
    background-color: $white;
    position: relative;
    @include mq("md"){
        width: calc(100% * 315/375);
        padding: 20px 20px 14px;
    }
}

.modal-close-button{
    position: absolute;
    display: block;
    height: 15px;
    width: 15px;
    cursor: pointer;
    top: 6px;
    right: 5px;
}

.modal-close-button span{
    position: relative;
    display: block;
    cursor: pointer;
}

.modal-close-button span::before,
.modal-close-button span::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 15px;
    background-color: $black;
    cursor: pointer;
}

.modal-close-button span::before{
    transform: translate(-50%,0) rotate(45deg);
}

.modal-close-button span::after{
    transform: translate(-50%,0) rotate(-45deg);
}

.modal-img-section{
    width: 100%;
}

.modal-img-section img{
    aspect-ratio: 420/220;
    object-fit: cover;
    @include mq("md"){
        aspect-ratio: 274/144;
    }
}

.modal-img-section .caption{
    margin-top: 9px;
    font-size: 16px;
    font-weight: $medium;
    line-height: calc(25/16);
    @include mq("md"){
        margin-top: 7px;
    }
}





// news
.news{
    background-color: rgba(77, 150, 0, 0.102);
    padding: 80px 0;
    @include mq("md"){
        padding: 50px 0;
    }
}

.news__container{
    width: 100%;
    margin-top: 68px;
    display: grid;
    grid-template-columns: repeat(2,minmax(323px,1fr));
    column-gap: 60px;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 40px;
    @include mq("md"){
        grid-template-columns: 1fr;
        margin-top: 38px;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }
}

.news__box{
    width: 100%;
    position: relative;
}

.news__text-main{
    padding: 9px 20px 8px;
    background-color: $green;
    font-size: 20px;
    font-weight: $semibold;
    line-height: calc(33/20);
    color: $white;
    @include mq("md"){
        padding: 8px 20px 9px;
    }
}

.news__box-container{
    padding:10px 20px 20px;
    background-color: $white;
}

.news__items li{
    border-bottom: 1px solid $green02 ;
}

.news__item{
    display: flex;
    align-items: flex-start;
    padding-block: 20px 12px;
}

.news__box-right li:first-child .news__item{
    padding-block: 19px 13px;
    @include mq("md"){
        padding-block: 18px 14px;
    }
}

.news__item-date{
    font-size: 16px;
    font-weight: $medium;
    line-height: 1;
    margin-top: 2px;
    width: 60px;
    margin-right: 20px;
    color: $black;
}

.news__box-right li .news__item-date{
    margin-left: 1px;
    @include mq("md"){
        margin-left: 0;
    }
}

.news__box-right li:first-child .news__item-date{
    margin-top: 3px;
    @include mq("md"){
        margin-top: 4px;
    }
}

.news__item-title{
    font-size: 18px;
    font-weight: $medium;
    line-height: calc(25/18);
    color: $black;
    margin-left: auto;
    max-width: 268px;
    line-break: strict;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    @include mq("md"){
        margin-left: 0;
        max-width: 100%;
    }
}

.news-link__box {
    margin-top: 29px;
    display: flex;
    justify-content: flex-end;
}

.news-link{
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 0.5;
    font-weight: $semibold;
    color: $green02;
    padding-right: 33px;
    padding-bottom: 15px;
    position: relative;
    transition: transform .5s;
}

.news-link::after{
    position: absolute;
    display: block;
    bottom: 1px;
    content: "";
    width: 81px;
    height: 18px;
    background-image: url(../images/more_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.news-link__text{
    display: inline-block;
    pointer-events: none;
}

@media (hover:hover){
    .shake-right:hover {
        animation:shake-right 1s infinite linear alternate;
        opacity: 1;
    }
}

@keyframes shake-right {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(7px);
    }
    100% {
        transform:translateX(0);
    }
}





// company
.company{
    padding-block: 80px;
    @include mq("md"){
        padding-block: 50px;
    }
}

.company__contents{
    margin-top: 68px;
    width: 100%;
    @include mq("md"){
        margin-top: 38px;
    }
}

.company__content{
    display: flex;
    position: relative;
    max-height: 462px;
    justify-content: space-between;
    @include mq("md"){
        max-height: 100%;
        flex-direction: column;
        height: auto;
    }
}

.company__content .content__img-box{
    max-height: max-content;
    aspect-ratio: 600/462;
    @include mq("md"){
        position: static;
        width: 100%;
        margin-inline: 0;
        aspect-ratio: 315/300;
        height: auto;
        max-width: 100%;
    }
}

.company__content .content__img-box iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 600/400;
    @include mq("md"){
        height: 100%;
        aspect-ratio: 315/300;
    }
}

.company__content .content__text-box{
    padding: 49px 0 42px calc(100% * 220/920);
    @include mq("lg"){
        padding: 50px 0 42px calc(100% * 200/920);
    }
    @include mq("md"){
        margin-top: 20px;
        padding: 19px 20px 12px;
        display: flex;
        flex-direction: column;
        margin-inline: 0;
        max-width: 100%;
    }
}

.content__text-name{
    display: inline-block;
    font-size: 20px;
    font-weight: $semibold;
    line-height: calc(33/20);
    color: $white;
}

.content__text-address{
    display: inline-block;
    margin-top: 8px;
    font-size: 16px;
    line-height: calc(25/16);
    font-weight: $semibold;
    color: $white;
}

.letter-spacing002{
    letter-spacing: 0.02em;
    @include mq("md"){
        letter-spacing: 0;
    }
}

.content__text-tel{
    display: inline-block;
    margin-top: 11px;
    font-size: 16px;
    font-weight: $semibold;
    line-height: 1;
    color: $white;
}

.text__tel-large{
    font-size: 25px;
    line-height: 1;
}

.tel__link{
    color: $white;
    pointer-events: none;
    @include mq("md"){
        pointer-events: auto;
    }
}

.content__text-mail{
    display: inline-block;
    margin-top: 16px;
    font-size: 16px;
    font-weight: $semibold;
    line-height: calc(25/16);
    color: $white;
    @include mq("md"){
        margin-top: 19px;
    }
}

.mail__link{
    color: $white;
    text-decoration: none;
    -webkit-text-decoration: none;
}





// contact
.contact{
    background-color: rgba(77, 150, 0, 0.149);
    padding: 80px 0;
    @include mq("md"){
        padding: 50px 0;
    }
}

.contact__inner.inner{
    max-width: 860px;
}

.contact__inner .section__title-ja{
    margin-left: -9px;
    @include mq("md"){
        margin-left: -8px;
    }
}

.letter-spacing0{
    letter-spacing: 0;
}

.contact__text{
    margin-left: 1px;
    margin-top: 35px;
    font-size: 20px;
    font-weight: $medium;
    line-height: calc(33/20);
    @include mq("md"){
        margin-left: 0;
    }
}

.contact__form{
    margin-top: 70px;
    @include mq("md"){
        margin-top: 40px;
    }
}

.form__field{
    display: flex;
    align-items: center;
}

.form__field:not(:nth-child(2)){
    @include mq("md"){
        flex-direction: column;
    }
}

.form__field:not(:first-child) {
    margin-top: 50px;
    @include mq("md"){
        margin-top: 30px;
    }
}

.form__label{
    width: 160px;
}

.form__field:not(:nth-child(2)) .form__label{
    @include mq("md"){
        width: 100%;
    }
}

.form__field:nth-child(2) .form__label{
    @include mq("md"){
        width: 40px;
    }
}

.form__field:first-child .form__label{
    margin-top: 1px;
    @include mq("md"){
        margin-top: 0;
    }
}

.form__label-text{
    font-size: 20px;
    font-weight: $medium;
    line-height: calc(33/20);
}

.form__field-radio .form__label-text,
.form__field-select .form__label-text,
.form__field-checkbox .form__label-text{
    cursor: initial;
}

.form__field:nth-child(3) .form__label-text{
    letter-spacing: 0.02em;
    @include mq("md"){
        letter-spacing: 0;
    }
}

.letter-spacing005{
    letter-spacing: -0.05em;
    @include mq("md"){
        letter-spacing: 0;
    }
}

.form__data{
    margin-left: 10px;
    flex: 1;
}

.form__field:not(:nth-child(2)) .form__data{
    @include mq("md"){
        margin-left: 0;
        width: 100%;
    }
}

.form__input::placeholder {
    color: #A0A0A0;
}

.form__input,
.form__select,
.form__textarea{
    font-size: 16px;
    line-height: calc(25/16);
    width: 100%;
    padding: 13px 20px 12px;
    background-color: $white;
}

// ラジオボックス
.form__field.form__field-radio{
    @include mq("md"){
        align-items: flex-start;
    }
}

.radio.form__data{
    display: flex;
    flex-wrap: wrap;
    margin-left: 13px;
    column-gap: 74px;
    @include mq("md"){
        margin-left: 50px;
        column-gap: calc(100% * 30/225);
    }
}

.radio-item__name{
    position: relative;
    display: inline-block;
    padding-left: 39px;
    font-size: 18px;
    line-height: calc(33/18);
}

.radio-item__name::before{
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    content: "";
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: $white;
}

.radio-item__name::after{
    position: absolute;
    top: 51%;
    left: 7px;
    width: 6px;
    height: 6px;
    content: "";
    transform: translateY(-50%);
    opacity: 0;
    border-radius: 50%;
    background-color: #000;
}

.radio-item input:checked + .radio-item__name::after{
    opacity: 1;
}

// セレクトボックス
.form__select {
    font-size: 18px;
    line-height: calc(25/18);
    padding: 12px 35px 13px 20px;
    color: #000;
    @include mq("md"){
        font-size: 16px;
        line-height: calc(25/16);
        padding: 14px 35px 11px 20px;
    }
}

.form__select option{
    color: #000;
}

.form__data-select {
    position: relative;
}

.form__data-select::after {
    position: absolute;
    top: 54%;
    right: 21px;
    width: 18px;
    height: 12px;
    content: "";
    transform: translateY(-50%);
    background-color: $green;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    cursor: pointer;
    pointer-events: none;
}

// テキストエリア
.form__field.form__field-textarea{
    flex-direction: column;
}

.form__field-textarea .form__label{
    width: 100%;
}

.form__field-textarea .form__data{
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    @include mq("md"){
        margin-top: 0;
    }
}

.form__textarea {
    min-height: 200px;
    resize: vertical;
    display: block;
}

// チェックボックス
.form__field.form__field-checkbox{
    margin-top: 50px;
    flex-direction: column;
    @include mq("md"){
        margin-top: 30px;
    }
}

.form__field-checkbox .form__label{
    width: 100%;
}

.form__field-checkbox .form__label-text{
    @include mq("md"){
        line-height: calc(27/20);
    }
}

.form__field-checkbox .white-space{
    margin-left: 1em;
    white-space: nowrap;
}

.form__field-checkbox .form__data{
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    row-gap: 14px;
    align-items: center;
    @include mq("md"){
        grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
        margin-top: 0;
        column-gap: 1px;
        row-gap: 5px;
    }
}

.checkbox-item{
    display: inline-block;
    line-height: 1;
    width: fit-content;
}

.checkbox-item:nth-child(4n-1),
.checkbox-item:nth-child(4n){
    margin-left: 4px;
    @include mq("lg"){
        margin-left: 0;
    }
}

.checkbox-item__name{
    position: relative;
    display: inline-block;
    padding-left: 40px;
    font-size: 18px;
    line-height: calc(25/18);
    @include mq("md"){
        padding-left: 30px;
        font-size: 16px;
        line-height: calc(25/16);
    }
}

.checkbox-item__name::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $white;
}

.checkbox-item__name::after{
    position: absolute;
    content: "";
    width: 14px;
    height: 9px;
    left: 5px;
    top: 39%;
    opacity: 0;
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    transform: translateY(-50%) rotate(-45deg);
}

.checkbox-item input:checked + .checkbox-item__name::after{
    opacity: 1;
}

// 個人情報保護方針
.form__field.form__field-policy{
    margin-top: 51px;
    flex-direction: column;
    @include mq("md"){
        margin-top: 30px;
    }
}

.form__field-policy .form__label-text{
    width: 100%;
}

.form__acceptance{
    width: 100%;
    background-color: $white;
    margin-top: 10px;
    padding: 10px 10px 10px 40px;
    @include mq("md"){
        margin-top: 0;
        padding: 10px 10px 23px 30px;
    }
}

.form__acceptance-body{
    overflow-y: scroll;
    height: 280px;
    font-size: 18px;
    line-height: calc(31/18);
    width: 100%;
    padding-block: 30px;
    padding-right: 40px;
    background-color: $white;
    scrollbar-gutter: stable;
    -webkit-overflow-scrolling: touch;
    @include mq("md"){
        font-size: 16px;
        line-height: calc(33/16);
        padding-block: 20px 7px;
        padding-right: 30px;
        height: 290px;
    }
}

.form__acceptance-body::-webkit-scrollbar{
    width: 10px;
}

.form__acceptance-body::-webkit-scrollbar-track {
    background-color: #E3E3E3;
}

.form__acceptance-body::-webkit-scrollbar-thumb {
    background-color: #9B9B9B;
    height: 30px;
}

/* iPhone用（SimpleBar適用時の見た目をPCと揃える） */
/* SimpleBar 適用時 */
.simplebar-wrapper,
.simplebar-mask,
.simplebar-offset,
.simplebar-content-wrapper,
.simplebar-content ,
.simplebar-height-auto-observer-wrapper,
.simplebar-height-auto-observer{
    width: 100%;
    box-sizing: border-box;
}

.simplebar-content {
    padding-right: 30px;
    padding-block: 20px 7px;
}

/* スクロールバー */
.simplebar-track.simplebar-vertical {
    background: #E3E3E3;
    width: 10px;
    border-radius: 0;
}

/* スクロールバー（つまみ部分） */
.simplebar-scrollbar::before {
    background-color: #9B9B9B;
    height: 30px;
    border-radius: 0;
    width: 100%;
    top: 0;
    left: 0;
}

.form__acceptance-box:not(:first-child){
    margin-top: 31px;
    @include mq("md"){
        margin-top: 33px;
    }
}

.form__acceptance-title{
    font-size: 18px;
    line-height: calc(31/18);
    font-weight: $medium;
    @include mq("md"){
        font-size: 16px;
        line-height: calc(33/16);
    }
}

.form__acceptance-list{
    margin-top: 31px;
    @include mq("md"){
        margin-top: 33px;
    }
}

.form__acceptance-box dl{
    margin-top: 31px;
    @include mq("md"){
        margin-top: 33px;
    }
}

.form__acceptance-box dt,
.form__acceptance-box dd{
    display: inline-block;
    @media screen and (max-width:440px) {
        display: block;
    }
}

.form__acceptance-box dd{
    margin-left: 0.5em;
    @media screen and (max-width:440px) {
        margin-left: 0;
    }
}

.acceptance-sp-none{
    @media screen and (max-width:440px) {
        display: none;
    }
}

.form__acceptance-box .tel__link,
.form__acceptance-box .mail__link{
    color: $black;
}

.form__submit-button {
    margin-top: 80px;
    text-align: center;
    @include mq("md"){
        margin-top: 50px;
    }
}

.form__submit-input{
    display: inline-block;
    font-size: 20px;
    font-weight: $semibold;
    line-height: calc(33/20);
    width: 300px;
    padding-block: 7px 8px;
    transition: background-color 0.3s, color 0.3s;
    color: #fff;
    background-color: $green;
    border: 1px solid $green;
    @include mq("md"){
        width: 315px;
    }
    @include mq("sp"){
        width: 100%;
    }
}

@media (hover: hover){
    .form__submit-input:hover{
        background-color: $white;
        transition: background-color 0.3s, color 0.3s;
        color: $green;
    }
}





// bottom footer
.bottom{
    padding-block: 80px;
    @include mq("md"){
        padding-block: 50px 51px;
    }
}

.bottom__inner.inner{
    max-width: 782px;
}

.bottom__name{
    text-align: center;
    font-size: 20px;
    font-weight: $medium;
    line-height: calc(33/20);
    padding-bottom: 27px;
    border-bottom: 1px solid #000;
    @include mq("md"){
        padding-bottom: 19px;
    }
}

.bottom__name-link{
    color: #000;
}

.bottom__line{
    margin-top: 28px;
    width: 100%;
    height: 1px;
    background-color: $black;
}

.bottom__nav-items{
    margin-top: 28px;
    padding-inline: 6px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 51px;
    row-gap: 5px;
    text-align: center;
    justify-content: center;
    @include mq("md"){
        margin-top: 19px;
        column-gap: 31px;
    }
}

.bottom__link{
    font-size: 18px;
    font-weight: $medium;
    line-height: calc(33/18);
    color: $black;
}

.bottom__nav-item:nth-child(4) .bottom__link{
    display: inline-block;
    margin-left: -0.5px;
    @include mq("md"){
        margin-top: 0.5px;
    }
}


.bottom__nav-item:nth-child(5) .bottom__link{
    display: inline-block;
    margin-top: 2px;
    @include mq("md"){
        margin-top: 1px;
    }
}

.bottom__icons{
    justify-content: center;
    margin-top: 26px;
    display: flex;
    column-gap: 30px;
    @include mq("md"){
        margin-top: 27px;
    }
}

.bottom__icon{
    height: 28px;
    width: 28px;
}

.bottom__icon-link{
    color: $black;
}

.bottom__icon .fa-brands{
    font-size: 28px;
}

.fa-brands.fa-twitter{
    margin-left: 1px;
}

.fa-brands.fa-facebook{
    margin-left: 1px;
    @include mq("md"){
        margin-top: 1px;
    }
}

.fa-brands.fa-youtube{
    margin-left: -0.5px;
    @include mq("md"){
        margin-top: 1px;
        margin-left: -1px;
    }
}

.fa-brands.fa-instagram{
    font-size: 32px;
    margin-top: -2px;
    margin-left: 1px;
    @include mq("md"){
        margin-top: -1px;
    }
}

.return{
    position: fixed;
    bottom: 60px;
    right: 60px;
    width: 68px;
    height: 68px;
    clip-path: circle(50% at 50% 50%);
    overflow: hidden;
    z-index: 1000;
    background-color: $green;
    cursor: pointer;
    transition: background-color 0.3s;
    @include mq("md"){
        right: 20px;
        width: 50px;
        height: 50px;
    }
}

@media (hover:hover){
    .return:hover{
        background-color: #5ea61f;
        transition: background-color 0.3s;
    }
}

.return__button{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.return__button::before{
    background-image: url(../images/pagetop_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    display: block;
    content: "";
    width: 23px;
    height: 16px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    @include mq("md"){
        width: 17px;
        height: 12px;
    }
}

.footer{
    width: 100%;
    padding-block: 30px 29px ;
    background-color: $green;
    @include mq("md"){
        padding-block: 21px;
    }
}

.footer__copyright{
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: $medium;
    line-height: calc(33/20);
    color: $white;
    @include mq("md"){
        line-height: calc(25/20);
    }
}





// 共通パーツ
.inner{
    max-width: 980px;
    padding-inline: 30px;
    margin-inline: auto;
}

.section__title{
    text-align: center;
    padding-left: 9px;
}

.section__title-en{
    display: block;
    font-size: 30px;
    line-height: calc(33/30);
    letter-spacing: 0.3em;
    font-weight: $medium;
    color: $green;
}

.section__title-ja{
    display: block;
    margin-top: 6px;
    font-size: 20px;
    line-height: calc(33/20);
    letter-spacing: 0.3em;
    font-weight: $medium;
    margin-left: -3px;
}

.section__title-sub{
    margin-top: 6px;
    font-size: 20px;
    font-weight: $medium;
    line-height: calc(33/20);
    letter-spacing: 0.3em;
    text-transform: capitalize;
    @include mq("md"){
        letter-spacing: 0.2em;
    }
}





// レスポンシブ表示・非表示
.md-none{
    @include mq("md"){
        display: none;
    }
}

.md-show{
    display: none;
    @include mq("md"){
        display: block;
    }
}

.sp-none{
    @include mq("sp"){
        display: none;
    }
}

.display-none{
    display: none;
}





// 下からふわっと出てくるアニメ
.fade-up-trigger{
    opacity: 0;
}

.fade-up{
    animation: fadeUpAnime ;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime{
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}