@use "sass:math";
// 文字フォントの種類
$base-font: "Yu Mincho", "YuMincho", "游明朝", "Hiragino Mincho Pro", "Hiragino Mincho ProN", "MS PMincho", serif;

// 文字の太さ
$regular: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
